@model Ex2.Models.Comment

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        $("#myButton").click(function (e) {
            e.preventDefault();
            
            var token = $('[name=__RequestVerificationToken]').val();
            var commentData = {
                PostID: 1,
                Title: 'Z',
                AuthorName: 'X',
                AuthorSiteURL: 'C',
                Content: 'K'
            };
            console.log('token', token)
            commentData['__RequestVerificationToken'] = token;
            console.log('comment data', commentData)

            $.ajax({
                url: "/Comments/Create",
                type: "POST",
                data: commentData,
                dataType: "json",
                success: function (response) {
                    if (response) {
                        alert('worked!');
                        console.log('workedddd');
                        //window.location = '/Suppliers/index';
                    }
                    else {
                        alert("someting go worng...");
                        console.log('bad');
                    }
                },
                error: function (response) {
                    console.log('error', response);
                }
                
            });

        });
    });
</script>


    
    <div class="form-horizontal">
        some input data...
    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" id="myButton" value="look at me" />
    // rest
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
